@import '../../styles/mixins';


.menu_container {
    display: flex;
    padding: 0 1.0875rem;
    .menu_box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin-right: 0.5rem;
        font-size: 12px;
        select {
            border: none;
        }
    }
    @include tablet {
        display: flex;
        .menu_box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: auto;
            margin-right: 2rem;
            font-size: 16px;
            select {
                border: none;
                -webkit-appearance: none;
            }
        }

    }
    @include desktop {
        display: flex;
        .menu_box {        
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 100%;
            margin-right: 2rem;
            font-size: 16px;
            -webkit-transition: all 0.75s ease-out;
            -moz-transition: all 0.75s ease-out;
            transition: all 0.75s ease-out;
            select {
                border: none;
                -webkit-appearance: none;
            }
        }
        div:hover {
            cursor: pointer;            
        }
        .menu_box:hover {
            transform: scale(1.1);
        }

    }

}

