@import './variables';
@import './mixins';

h2 {
    // li fotem a tot el que vagi sota h2 un marge 1.45rem
    margin-bottom: 0;
}

.video_container {
    display: flex;
    justify-content: center;
    width: 95%;
    opacity: 0;
    @include tablet {
        margin-top: 1.45rem;
    }
    @include desktop {
        margin-top: 1.45rem;
    }
}

.video_container.change {
    opacity: 1;
    transition: all 1s;
}

a {
    text-decoration: none;
    color: $black;
}

.loader_container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}


.gallery {
    h2 {
        margin-bottom: 0;
    }
    p {
        margin-bottom: 1.45rem;
    }
    p:hover {
        text-decoration: underline;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
        margin-top: 50px; 
    }
    @include desktop {
        margin-top: 100px;
    }
}

.container_slider {
    width: 300px;
    height: 500px;
    margin-bottom: 40px;
    align-self: center;
    img {
        min-height: 500px;
    }
    @include tablet {
        width: 600px;
        height: 600px;
        margin-bottom: 40px;
        align-self: center;
        img {
            min-height: 600px;
        }
    }
    @include desktop {
        width: 600px;
        height: 600px;
        margin-bottom: 40px;
        align-self: center;
        img {
            min-height: 600px;
        }
    }
  }
