@import '../../styles/variables';
@import '../../styles/mixins';

header {
    margin: 0 auto;
    max-width: $centeredMaxWidth;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 1.45rem;
    }
    .myname_desktop {
        padding: 1.45rem 1.0875rem;
        margin-bottom: 1.45rem;
        color: inherit;
        font-family: "Roboto" !important;
        font-weight: bold;
        text-rendering: optimizeLegibility;
        line-height: 1.1;
        margin: 0;
        font-size: 30px !important;
        h1 {
            font-family: "Roboto" !important;
            font-weight: bold;
            text-rendering: optimizeLegibility;
            line-height: 1.1;
            margin: 0;
            font-size: 30px !important;
        }
        a {
            color: $black;
            text-decoration: none;
        }
        @include mobile {
            display: none;
        }
    }
    .myname_mobile {
        padding: 1.45rem 1.0875rem 0;
        color: inherit;
        font-family: "Roboto";
        font-weight: bold;
        text-rendering: optimizeLegibility;
        line-height: 1.1;
        margin: 0 0 10px 0;
        font-size: 24px;
        h1 {
            margin-bottom: 0;
            a {
                color: $black;
                text-decoration: none;
            }
        }
        @include desktop {
            display: none;
        }
        @include tablet {
            display: none;
        }
    }
}